section {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;

    flex-direction: column;
    align-items: center;
    padding: 10px;

    box-sizing: border-box;

    top: 100%;

    background-color: var(--bg);

    transition: 500ms top;
}

section.open {
    top: 0;
}

.section-title {
    font-family: Rowdies;
    font-size: 40px;
    font-weight: normal;
}

.path_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    padding: 20px;

    box-sizing: border-box;

    font-family: Roboto;
}

.path_card {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f0f;

    box-sizing: border-box;

    padding: 10px;
    color: white;
}

.path_card .card_image {
    margin-bottom: auto;
    height: 95px;
}

.path_card .card_name {
    font-size: 20px;
    font-weight: 700;
}

.path_card .card_difficulty {
    font-size: 15px;
    font-weight: 400;
}

.course_float {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    aspect-ratio: 1;

    background-color: #CD7F32;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;

    border-radius: 40px;
}

.course_float img {
    height: 110px;
    margin-bottom: auto;
}

.course-lesson {
    font-weight: 700;
    font-size: 32px;
}

.course-topic {
    font-weight: 400;
    font-size: 24px;
    font-style: italic;
}


.component {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    flex-shrink: 0;
}

.component-content {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    transform: translateY(-50%);
    box-sizing: border-box;
    padding: 20px;
}

.component_continue {
    position: absolute;
    bottom: 20px;
    background-color: var(--primary);
    border: none;
    width: 70%;
    font-size: 30px;
    font-family: Rowdies;
    font-weight: bolder;
    border-radius: 50px;
    padding: 5px 10px;
}

#component-question {
    font-weight: bolder;
}

.component-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: scroll;
}