section {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;

    flex-direction: column;
    align-items: center;
    padding: 10px;

    box-sizing: border-box;
}

.section-title {
    font-family: Rowdies;
    font-size: 40px;
    font-weight: normal;
}

.path_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    padding: 20px;

    box-sizing: border-box;

    font-family: Roboto;
}

.path_card {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f0f;

    box-sizing: border-box;

    padding: 10px;
    color: white;
}

.path_card .card_image {
    margin-bottom: auto;
    height: 95px;
}

.path_card .card_name {
    font-size: 20px;
    font-weight: 700;
}

.path_card .card_difficulty {
    font-size: 15px;
    font-weight: 400;
}

.course_float {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    aspect-ratio: 1;

    background-color: #CD7F32;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.course_float img {
    height: 110px;
    margin-bottom: auto;
}

.course-lesson {
    font-weight: 700;
    font-size: 32px;
}

.course-topic {
    font-weight: 400;
    font-size: 24px;
    font-style: italic;
}